body {
    background-color: rgb(252, 253, 253);
    font-size: 18px;
    line-height: 2.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth; 
    margin: 1.5rem;
    padding: 0rem;
    margin-top: 0px;
    margin-right: 0px;
}
.pic {
    background-color: black;
    padding: 0.5rem;
    background: linear-gradient( black,rgb(37, 11, 187));
}
.pic #t {
    text-align: center;
    font-size: 19px;
}
.round img {
    border-radius: 50%;
    margin: 3px;
    border: 3px solid rgb(2, 3, 63);
}
a, a:visited {
    color: blue;s
}
a:hover, a:focus {
    color: red;
    opacity: 0.6;
}
.animate {
    color: white;
    height: 40px;
    width: 954px;
    text-align: center;
    animation: moveAnimation 2s infinite;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
@keyframes moveAnimation {
    0% {width: 80px; opacity: 0.7;}
    33% { scale: (1);  color: rgb(172, 40, 40);}
    100% { scale: (1);  color: white;}
}
.error {
    background-color: blue;
    opacity: 0.9;
    background: linear-gradient(black, blue);
}
footer {
    background-color: aliceblue;
    text-align: center;
    width: 10%;
    border-bottom: 22px double red;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    bottom: 0px;
    right: 30px;
    position: fixed;
}
.asid {
    background-color: rgb(217, 223, 228);
    color: rgb(4, 4, 97);
}
.banner {
    padding-left: 30%; 
    padding-right: 30%;
}
